*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

/* styles for the home page  */
img{
    max-width: 100%;
    height: auto;
}

.illustration-img-1{
    width:100px;
    margin-left: 40px;
}

.hero{
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
}
.header-btn{
    color: white;
    background-color: rgb(117, 117, 243);
    border: none;
    border-radius: 5px;
    padding: .5em 1em .5em 1em;
    margin-left: 1em;
    margin-top: 1em;
}

input{
    padding: .5em;
}


.jobs-header {
    margin-left: 2em;
    margin-top: 2em;
    margin-bottom: 1em;

}

.featured-jobs{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.jobs-h1{
    margin-bottom: .5em;
}

.inline{
    display: inline;
}
.jobs-p{
    line-height: 1.5;
}

.jobs-link {
    margin-top: .5em;
    border: none;
    color: white;
    background-color: rgb(117, 117, 243);
    border-radius: 5px;
    padding: .5em 1em .5em 1em;
    margin-left: .5em;
    text-decoration: none;
    margin-top: 1em;
    display: inline-block;

    
}





.jobs-container{
    border-radius: 2em;
    background-color: #fff;
    padding: 1.5em 2em 1.5em 2em;
    margin-left: .5em;
    box-shadow:  0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: auto;
}

.company-header{
    margin-top: 1em;
    margin-left: 2em;
}

.company-image{
    width: 15px;
}

.attach{
    display: flex;
    gap: 10px;
}

.top-companies{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2em;
}
.companies-container{
    border-radius: 1em;
    background-color: #fff;
    padding: 1.5em 3em 1.5em 2em;
    box-shadow:  0 4px 8px rgba(0, 0, 0, 0.1);;
}
.blue{
    color: rgb(136, 136, 247);
}


/* styles for the job listing page  */

.job-listings-page{
    align-items: center;
    margin-left: 2em;
    margin-top: 1em;
}

.search-job{
    display: flex;
    gap: 2em;
  

}

.search-input{
    padding: .5em;
}

.search-btn button{
    color: white;
    background-color: rgb(117, 117, 243);
    border: none;
    padding: .5em 1em .5em 1em;
    border-radius: 5px;
    margin-top: .5em;

}

.break{
    display: block;
}


.apply-button{
    color: white;
    background-color: rgb(117, 117, 243);
    border: none;
    border-radius: 5px;
    padding: 0em 2em 0.5em .1em;
    margin-top: 1em;
    
}

.apply-button a{
    text-decoration: none;
}

.sort-select{
    padding: .5em;
}

.sidebox{
    border-radius: 2em;
    background-color: #fff;
    box-shadow:  0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1.5em 2em 1.5em 2em;
    margin-left: auto;

}

.Job-listing-container{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 100%;
    height: 100%;
    justify-content: center;
    margin-left: 5em;
}

.listings-header-2{
    align-items: center;
    margin-left: 1em;
    margin-bottom: 1em;
}
.h3-span{
    font-weight: bold;
    margin-top: 1em;
    
}

.job-card{
    border-radius: 2em;
    background-color: #fff;
    box-shadow:  0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1.5em 2em 1.5em 2em;;

}

.job-card p{
    line-height: 1.5;
    margin-bottom: 1.5em;
}


  

   
/* styles for the job details */
.job-details-section {
  max-width: 800px;
  margin: 40px auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  
}

.jobs-header  {
  font-size: 32px;
  margin-bottom: 1em;
  margin-top: 1em;
}

.Company-location, .Company-name{
    margin-bottom: 2em;
}

.job-description h3 {
  font-weight: bold;
  margin-top: 2em;
  margin-bottom: .5em;
  
}

.job-tags {
  margin-bottom: 20px;
}

.tag {
  display: inline-block;
  background-color: #eef2f7;
  color: #333;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 14px;
  margin-right: 8px;
}

.apply-btn {
  padding: 10px 20px;
  background-color:  rgb(117, 117, 243);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 1em;
  display: inline-block;
  margin-top: 1em;
  
}

.apply-btn, a{
    text-decoration: none;
  
}

.descrition-h2{
    margin-top: 1em;
}



.job-description p, li{
    line-height: 1.5;
}

.apply-btn:hover {
  background-color:  rgb(100, 100, 246);
}

.job-info-box h2 {
  margin-top: 30px;
  color: #5d8cf9;
}

.job-info-box p,
.job-info-box ul {
  margin-top: 10px;
  color: #444;
  line-height: 1.6;
}

.job-info-box ul {
  padding-left: 20px;
}

.link{
  font-size: 24px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: color 0.3s ease;
    
}











